*{
    margin: 0;
    padding: 0;
}
.quiz_section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.quiz{
    width: 50%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
}

.question{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    padding: 5px;
}

ul{
    list-style: none;
    display: inline-block;
}

li{
    margin: 2rem;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 50px;
}


li label{
    margin-left: 1rem;
    font-size: 1.15rem;
}


button{
    margin-top: 1.25rem;
    margin-left: 1.5rem;
    font-size: 1.7rem;
    background-color: aqua;
    border-radius: 45px;
    padding: 1rem;
    width: 150px;
    border: 2px solid rgb(2, 124, 124);
    outline: none;
    transition: 0.3s;
    font-family: "Smooch Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}


button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.score{
    background-color: #ACB6E5;
}

h3{
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
}